node_modules/
dist/
materials/
chrome-debug-profile/
edge-debug-profile/
logs/
.env
.env.key
.playwright-browsers/
*.js
*.d.ts
*.js.map
output/
.DS_Store
.vscode/
.github/
.githook/
.githooks/
Fleet_Prompt.md

docs/*
!docs/使用指南.md

src/*
!src/lib/
!src/lib/**
